body {
  background: black;
  font-family: Avenir;
  font-size; 62.5%;
  text-align: left;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  background: #424141;
  position: fixed;
  height: 100px;
  widht: 100%;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  font-size: 2em;
}
