body {
  background: black;
  font-family: Avenir;
  font-size; 62.5%;
  text-align: left;
  color: white;
}
nav {
  background: #575555;
  color: black;
  position: fixed;
  height: 100px;
}

nav ul {
  list-style: none;
  display: inline;
}
