html, body {
  height: 100%;
}

body {
  font-size: 62.5%;
  font-family: Verdana;
  text-align: left;
  background-color: black;
  color: white;
}

nav {
  background: white;
  color: black;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  float: left;
}
